body {
  background-color: rgb(255, 166, 233);
}
h1 {
  font: normal Sans-Serif;
  color: rgb(255, 255, 255);
  text-align: center;
}
p {
  text-align: center;
  color: rgb(140, 140, 140);
}
div#botoes {
  display: flex;
  justify-content: space-around;
}
div#area {
  font: normal 15pt Arial;
  background: rgb(0, 161, 205);
  color: white;
  height: 100px;
  width: 100px;
  border-radius: 10px;
  line-height: 100px;
  text-align: center;
}
div#areanum {
  font: normal 15pt Arial;
  background: rgb(14, 217, 0);
  color: white;
  height: 100px;
  width: 100px;
  border-radius: 10px;
  line-height: 100px;
  text-align: center;
}
div#areados {
  font: normal 15pt Arial;
  background: rgb(231, 0, 0);
  color: white;
  height: 100px;
  width: 100px;
  border-radius: 10px;
  line-height: 100px;
  text-align: center;
}
div#container {
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 10px;
  margin: auto;
  margin-top: 250px;
}
img#homi {
  height: 150px;
  position: absolute;
  bottom: 70px;
  right: 500px;
}
img#tyler {
  height: 150px;
  position: absolute;
  right: 5px;
  bottom: 0px;
}
